* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.width {
  width: 90%;
  margin: 0 auto;
  background-color: #1a0b2e;
}

.nave-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #412567;
  /* background-color: #1a0b2e; */
  height: 92px;
}

.nave-container h1 {
  padding-left: 8%;
}

.nave-link a {
  text-decoration: none;
  padding: 0 10px;
}

.gradient-text {
  background: linear-gradient(25deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-backgrond-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: center;
  padding: 12px 16px;
  background: linear-gradient(25deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  margin-right: 8%;
  border-radius: 10000px;
  border: none;
}
.btn:hover {
  border: 2px solid white;
  transition: all 1s;
}

/* header */
.hero-section {
  max-height: 760px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.header-hero {
  background-image: url(assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box {
  width: 550px;
  height: 558px;
  text-align: center;
  padding-top: 20px;
}
.hero-img {
  height: 350px;
  width: 350px;
  background-image: url(assets/hero-circle.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hero_T {
  color: #ffffff;
  padding-top: 10px;
}
.hero_p {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
}
#btn-spotify {
  display: flex;
  gap: 7px;
  padding: 12px 20px;
  border-radius: 10000px;
  background: linear-gradient(25deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}

#btn-spotify:hover {
  color: #00ff88;
  border: 2px solid #00ff88;
  transition: all 1s;
  transform: scale(1.5rem);
  font-weight: bold;
}
#btn-subscribe {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 12px 20px;
  border-radius: 10000px;
  border: 2px solid #00ff88;
  color: #00ff88;
}
#btn-subscribe:hover {
  background-color: #d3c9c9;
  transition: all 1s;
  transform: scale(1.2rem);
  color: red;
  font-weight: bold;
}

.new-btn {
  background-color: #00ff88;
  padding: 8px 16px;
  border-radius: 10000px;
  border: none;
  position: absolute;
  margin-left: 200px;
  margin-bottom: 300px;
  color: black;
  font-weight: bold;
  /* animation-name: myAnimation;
  animation-duration: 2s; */
  animation: myAnimation 2s linear 0s infinite;
  border: 2px solid white;
}
@keyframes myAnimation {
  0% {
    transform: translate(1 rem);
  }

  50% {
    transform: translate(1.5 rem);
    background-color: red;
  }
  85% {
    transform: translate(1.2rem);
    background-color: #fb09b4;
    color: white;
  }
}

/* main-section */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 222px;
  padding: 150px 150px;
}
.main-container p {
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 1rem;
}
.hr-tag {
  margin-top: 12px;
  margin-bottom: 20px;
}
.main-reating {
  padding-bottom: 80px;
  padding-top: 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.main-reating h1 {
  color: #00ff88;
}
.ret {
  text-align: center;
  /* width: 140px; */
  /* height: 54px; */
}

/* ------------------------------------- */
/* Why choose TechWave */
.why-choose {
  max-height: 2121px;
  background-color: #230e3d;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
}
.why-choose-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.why-h2 {
  padding-bottom: 30px;
}
.choose-grid-box {
  padding: 10px 50px;
  max-height: 783px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 280px);
  grid-template-rows: repeat(3, 170px);
}
.box {
  background-color: #351165;
  border-radius: 40px;
  padding: 20px;
}

.width-grid {
  grid-column: span 2;
  grid-row: span 1;
}

.height-grid {
  padding-top: 40px;
  grid-column: span 1;
  grid-row: span 2;
}
.one-grid {
  grid-column: span 1;
  grid-rows: span 1;
}

.box h2 {
  padding: 10px 0px;
}


/* Featured Episodes */
.featured-episodes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 120px;
}
.featured-text h2 {
  padding-bottom: 30px;
}
.featured-youtube-vedios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.vedio-box1 {
  max-width: 380px;
  max-height: 440px;
  background-color: #250d44;
  border-radius: 24px;
}
.vedio-1 {
  max-width: 380px;
  max-height: 214px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  overflow: hidden;
}
.iframe {
  max-width: 380px;
  max-height: 214px;
}
.vedio-text {
  padding: 24px;
}
.vedio-text h1 {
  font-size: 24px;
  font-weight: bold;
}
.vedio-text p {
  padding: 12px 0px;
}
.vedio-text span {
  color: #00ff88;
}

/* responsive */
@media screen and (max-width: 576px) {
  .btn,
  .nave-link {
    display: none;
  }

  .menu {
    margin-right: 20px;
  }
  .nave-container h1 {
    padding-left: 20px;
  }
  .nave-container,
  .hero-section,
  .main-section,
  .why-choose,
  .featured-episodes {
    width: 100%;
  }
  .main-container {
    padding: 150px 50px;
  }
  .main-reating {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main-reating {
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .featured-youtube-vedios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .choose-grid-box {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2,1fr);
  }

  .width-grid,
  .height-grid,
  .one-grid {
    grid-column: span 2;
    grid-row: span 2;
  }
  .why-choose {
    padding-bottom: 370px;
  }
  
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .nave-container,
  .hero-section,
  .main-section,
  .why-choose,
  .featured-episodes {
    width: 95%;
  }
  .btn {
    margin-right: 5%;
  }
  .nave-container h1 {
    padding-left: 5%;
  }
  .menu {
    display: none;
  }

  .featured-youtube-vedios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .choose-grid-box {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2,1fr);
  }

  .width-grid,
  .height-grid,
  .one-grid {
    grid-column: span 2;
    grid-row: span 2;
  }
  .why-choose {
    padding-bottom: 370px;
  }
}

@media screen and (min-width: 992px) {
  .menu {
    display: none;
  }
}
