* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
   

}
.width {
    width: 90%;
    margin: 0 auto;
}

.nave-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #412567;
    background-color: #1A0B2E;
    height: 92px;
}

.nave-container h1 {
    padding-left:8%;
}

.nave-a_tag a {
    text-decoration: none;
    padding: 0 10px;
}

.gradient-text {
    background: linear-gradient(25deg,
        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100%
        );
        -webkit-backgrond-clip:text;
        background-clip:text;
        -webkit-text-fill-color:transparent;

}

.btn {
    display: flex;
    gap: 4px;
    text-align: center;
    padding: 12px 16px;
    background: linear-gradient(25deg,
        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100% );
    margin-right: 8%;
    border-radius: 10000px;
    border: none;    
}


/* responsive */

@media screen and (max-width:576px){
    .nave-a_tag,
    .btn {
        display: none;
    }
    
    .nave-container h1 {
        padding: 20px;
    }
    .menu {
        margin-right: 20px;
    }
    .nave-container {
        height: 60px;
        width: 99.5%;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .menu {
        display: none;
    }
    .nave-container {
        width: 95%;
    }
}


@media screen and (min-width:992px) {
    .menu {
        display: none;
    }
}